<h2>Type in your dice roll</h2>
<div class="alert alert-info">You can use [count]d[type] or [count]w[type] and add or substract dice or modifiers</div>
<div *ngIf="diceInputField.invalid && (diceInputField.dirty || diceInputField.touched)" class="alert alert-danger">

  <div *ngIf="diceInputField.errors.required">
    Some input is required.
  </div>
  <div *ngIf="diceInputField.errors.pattern">
    Invalid input.
  </div>
</div>
<form class="row justify-content-center" #diceForm="ngForm" (submit)="submitDiceInput()">
  <div class="col-lg-8 col-12 mb-2">
    <input id="dice-input" autocomplete="off" name="dice-input" class="form-control" pattern="[ dw0-9+\-]+" required
           [(ngModel)]="diceInput" #diceInputField="ngModel"/>
  </div>
  <div class="col-lg-4 col-12 row roll-buttons">
    <div class="col-sm-6 col mb-2">
      <input class="btn btn-primary" type="submit" value="Submit" [disabled]="!diceForm.form.valid"/>
    </div>
    <div class="col-sm-6 col-12 mb-2">
      <button class="btn btn-secondary" (click)="diceInputField.reset(); diceInput = '';">Reset input</button>
    </div>
  </div>
</form>
