<button class="btn btn-outline-secondary" (click)="displayStatistics = !displayStatistics">Toggle statistics</button>

<div *ngIf="displayStatistics">
  <table class="table">
    <tr>
      <th>Rolls total</th>
      <td>{{numberOfDiceRolls.total}}</td>
    </tr>
    <tr>
      <th>Rolls better than average</th>
      <td class="good">{{numberOfDiceRolls.betterThanAverage}} ({{displayStatisticsPercentage(numberOfDiceRolls.betterThanAverage)}})</td>
    </tr>
    <tr>
      <th>Rolls equal to average</th>
      <td class="average">{{numberOfDiceRolls.average}} ({{displayStatisticsPercentage(numberOfDiceRolls.average)}})</td>
    </tr>
    <tr>
      <th>Rolls worse than average</th>
      <td class="bad">{{numberOfDiceRolls.worseThanAverage}} ({{displayStatisticsPercentage(numberOfDiceRolls.worseThanAverage)}})</td>
    </tr>
    <tr>
      <th>Sum of all rolls</th>
      <td [ngClass]="{good: sumOfAllRolls > sumOfAllAverages, average: sumOfAllRolls === sumOfAllAverages, bad: sumOfAllRolls < sumOfAllAverages}">{{sumOfAllRolls}} (Sum of averages: {{sumOfAllAverages}})</td>
    </tr>
  </table>
</div>
